<div class="col-md-12">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tiempo</h3>
            </div>
            <div class="panel-body">
                <div class="" style="font-size: 30px" id="game-time">00:00:12</div>
            </div>
            
        </div>

          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Conectados</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" style="height: 280px; overflow: auto">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="usuario in users| filter: buscador" ng-class="{'active': usuario.inline}" popover-template="views/user-data.html" popover-title="{{ usuario.name }}" popover-placement="right" popover-trigger="mouseenter" ng-mouseover="loadDataUser(usuario)" ng-click="openModal('create-game')"><a> {{ usuario.name }}</a><img class="img-avatar" src="images/usuario.jpg"></li>
                    </ul>                    
                </div>
            </div>
        </div>         
    </div>
    <div class="col-md-6">
    <div ng-include src="'views/create-game.html'"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <div id="board" style="width: 100%"></div>
            </div>
            <div class="panel-footer">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <button id="flipOrientationBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-adjust"></span></button>
                        <button id="whiteOrientationBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
                        <button id="blackOrientationBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
                    </div>
                    <div class="btn-group">
                        <button id="adelante" type="button" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-adjust"></span></button>
                        <button id="atras" type="button" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-adjust"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <!--http://flipclockjs.com/ -->
        <div class="clock" style="margin:2em;"></div>
        <p>Status: <span id="status"></span></p>
        <p>FEN: <span id="fen"></span></p>
        <p>PGN: <span id="pgn"></span></p>
    </div>
</div>
http://chessboardjs.com/examples#5000
