<!-- Custom styles for this template -->
<link href="styles/loguin/css/login.css" rel="stylesheet">
<link href="styles/loguin/css/animate-custom.css" rel="stylesheet">
<div class="container" id="login-block">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

            <div class="login-box clearfix animated flipInY">
                <div class="page-icon animated bounceInDown">
                    <img src="styles/loguin/img/login-questionmark-icon.png" alt="Questionmark icon">
                </div>
                <div class="login-logo">
                    <a href="#"><img class="img-responsive" src="styles/loguin/img/login-logo.png" alt="Company Logo"></a>
                </div> 
                <hr>
                <div class="login-form">
                    <div class="alert alert-error hide">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Error!</h4>
                        Your Error Message goes here
                    </div>
                    <form action="#" method="get">
                        <p>Enter your email address below and we'll send a special reset password link to your inbox.</p>

                        <input placeholder="Email" class="input-field" required="" type="email"> 

                        <button type="submit" class="btn btn-login btn-reset">Reset password</button> 
                    </form>	
                    <div class="login-links"> 
                        <a ui-sref="loguin">
                            Already have an account?  <strong>Sign In</strong>
                        </a>
                        <br>
                        <a ui-sref="register_user">
                            Don't have an account? <strong>Sign Up</strong>
                        </a>
                    </div>      		
                </div> 
            </div>
        </div>
    </div>
</div>
